In [1]:
import pandas as pd
from Bio import SeqIO; from Bio.Seq import Seq; from Bio.SeqRecord import SeqRecord; from Bio.SeqFeature import SeqFeature, FeatureLocation
import os
import re

In [2]:
# latest paftol export containing ENA sample accessions
# https://www.ebi.ac.uk/ena/submit/report/swagger-ui.html#/samples/findAllUsingGET_13
pft_file = '../PAFTOL_DB/2022-03-14_paftol_export_stats.csv'
cptree_file = 'cpTree_v7/cpTree_v7_tree_clean.csv'
org_dir = 'C:/Data/PAFTOL/Organelles/'

# DataSource = 'GAP' 
# ENA_project_number = 'PRJEB49212'
DataSource = 'PAFTOL' 
ENA_project_number = 'PRJEB35285' #https://www.ncbi.nlm.nih.gov/bioproject/588607

In [3]:
## All Validated Samples
R = pd.read_csv(cptree_file)
R = R[R.DataSource==DataSource]
subset = R.Sample_Name.to_list()
print(R.shape[0],subset[:2])

3451 ['PAFTOL_004799', 'PAFTOL_000992']

## Load data and subset

In [4]:
pdir = DataSource + '/'
sdir = 'ENA_submissions/' + pdir
if not os.path.exists(sdir):
    os.makedirs(sdir)

In [5]:
# Load GetOrg result table
Org_df = pd.read_csv(org_dir + DataSource + '/' + DataSource + '_Organelle_Recovery.csv').astype({'idSequencing':'int'})
if DataSource == 'PAFTOL':
    Org_df['SeqID'] = Org_df.Sample_Name.str.replace('PAFTOL_','Pis_')
elif DataSource in ['GAP']:
    Org_df['SeqID'] = Org_df.Sample_Name
elif DataSource in ['SRA']:
    sra2_pt = pd.read_csv('cpSRA_GetOrg/cpSRA_GetOrg_Organelle_Recovery.csv')
    Org_df = pd.concat([Org_df,sra2_pt],ignore_index=True)
    Org_df = Org_df.groupby('Sample_Name').head(1)
    Org_df['SeqID'] = Org_df.Sample_Name
print(Org_df.shape[0])
Org_df[:2]

9715

,idPaftol,idSequencing,Sample_Name,Project,order,family,genus,species,Taxonomical_Notes,SumContigLength,...,Coverage_Kmer,Coverage_base,Run_Time,maxK,NRepeat_Pattern,NPath,Redo_FastPlast,error_pt,error_nr,SeqID
0,2,961,PAFTOL_000961,Pilot,Ranunculales,Circaeasteraceae,Circaeaster,agrestis,NaN,138795.0,...,59.4,90.7,329.43,105.0,NaN,NaN,False,NaN,NaN,Pis_000961
1,4,2571,PAFTOL_002571,Connaraceae,Oxalidales,Connaraceae,Rourea,minor,NaN,213954.0,...,18.5,60.2,747.57,105.0,NaN,NaN,False,NaN,NaN,Pis_002571

In [6]:
if subset is not None:
    Org_df = Org_df[Org_df.Sample_Name.isin(subset)]
    print(Org_df.shape[0],Org_df.Sample_Name.nunique())

3451 3451

In [7]:
# Load paftol export and merge ena sample IDs
db = pd.read_csv(pft_file)
db = db[db.idPaftol.notnull()].astype({'idPaftol':'int','idSequencing':'int'})
db = db[['Sample_Name','idPaftol', 'DataSource', 'Project', 'Order', 'Family', 'Genus', 'Species', 'Taxonomical_Notes', 
         'ENASampleNum', 'idSequencing', 'ExternalSequenceID', 'ENAExpNumber',
       'ENARunNumber', 'NumReads', 'NumRecoveredGenes', 'SumContigLength','NCBI_TaxID', 'NCBI_sciname']]
#        'title', 'taxId','id', 'alias', 'firstCreated', 'firstPublic', 'releaseStatus', 'secondaryId', 'scientificName', 'commonName']]
db[:2]

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (29,35,45,57,74,83) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Sample_Name,idPaftol,DataSource,Project,Order,Family,Genus,Species,Taxonomical_Notes,ENASampleNum,idSequencing,ExternalSequenceID,ENAExpNumber,ENARunNumber,NumReads,NumRecoveredGenes,SumContigLength,NCBI_TaxID,NCBI_sciname
0,PAFTOL_000564,1,PAFTOL,Asteraceae,Asterales,Asteraceae,Gymnolaena,sp.,Initially recorded as Gymnolaena litoralis but...,NaN,564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PAFTOL_000961,2,PAFTOL,Pilot,Ranunculales,Circaeasteraceae,Circaeaster,agrestis,NaN,ERS5501508,961,NaN,ERX4839538,ERR5033191,625228.0,332.0,138795.0,39288.0,Circaeaster agrestis

In [8]:
Org_df = pd.merge(Org_df,
         db[['Sample_Name','DataSource','ENASampleNum','ENAExpNumber','ENARunNumber','NCBI_TaxID','NCBI_sciname']],
        how='left',on='Sample_Name').groupby('Sample_Name').head(1)
print(Org_df.isna().sum().to_dict())
print(Org_df.shape[0],Org_df.Sample_Name.nunique())

{'idPaftol': 0, 'idSequencing': 0, 'Sample_Name': 0, 'Project': 0, 'order': 0, 'family': 0, 'genus': 0, 'species': 0, 'Taxonomical_Notes': 2231, 'SumContigLength': 363, 'sci_name': 0, 'log_pt': 0, 'log_nr': 0, 'pt_recovered': 0, 'Nseq_pt': 0, 'Sum_len_pt': 0, 'Nanybase_pt': 0, 'nr_recovered': 0, 'Nseq_nr': 27, 'Sum_len_nr': 27, 'Nanybase_nr': 27, 'Completed_Reads': 0, 'Completed_Extending': 0, 'Completed_Assembly': 0, 'Completed_Slimming': 0, 'Completed_Output': 0, 'Warning_Look': 0, 'Warning_Multi_Structure': 0, 'Warning_Self_Loop': 0, 'Info_Large_Repeats': 0, 'Info_Disentangling_Failed': 0, 'Assembly': 6, 'Coverage_Kmer': 635, 'Coverage_base': 8, 'Run_Time': 5, 'maxK': 6, 'NRepeat_Pattern': 3380, 'NPath': 3422, 'Redo_FastPlast': 0, 'error_pt': 3450, 'error_nr': 3432, 'SeqID': 0, 'DataSource': 0, 'ENASampleNum': 47, 'ENAExpNumber': 0, 'ENARunNumber': 0, 'NCBI_TaxID': 172, 'NCBI_sciname': 172}
3451 3451

In [9]:
geseq_dir = sdir + 'fasta/'
if not os.path.exists(geseq_dir):
    os.makedirs(geseq_dir)

# Whole plastomes
### Annotation

In [ ]:
whole_pt = Org_df[(Org_df.Assembly.isin(['circular genome','circular genome with gaps']) & (Org_df.Sum_len_pt>80000))]
print(whole_pt.shape[0],'samples',whole_pt.genus.nunique(),'genera')
whole_pt[:2]

In [ ]:
# Output fasta files 
for idx, row in whole_pt.iterrows():
    seqs = list(SeqIO.parse(org_dir + DataSource + '/' + 'fasta_pt/' + row.Sample_Name + '_pt.fasta',format='fasta'))
    # Verif only 1 sequence
    if len(seqs) > 1:
        print('error, more than 1 sequence')
        pass
    seq = seqs[0]
    print(row.Sample_Name, row.SeqID, row.family, row.sci_name,len(seq),seq.seq.count('N'))
    seq.id = row.SeqID
    seq.description = ''
    SeqIO.write(seq, geseq_dir + row.SeqID + '-circular.fasta',format='fasta')

Submit files to GeSeq https://chlorobox.mpimp-golm.mpg.de/geseq.html and extract zip file in wdir/GeSeq_output

In [ ]:
whole_pt.to_csv(sdir + DataSource + '_wholePT.csv',index=False)

# Contigs

In [10]:
references = pd.read_csv('References/NCBI_plastid_ref/NCBI_plastid_ref_list_SELECTED.csv')
print(references.shape)
references.head(2)

(124, 24)

,SeqID,Ini_Species,TaxID,mol_type,length,Ini_sci_name,sci_name_query,Similar_match,Duplicates,kew_id,...,sci_name,authors,rank,taxonomic_status,Ini_kew_id,Ini_taxonomic_status,Duplicate_type,Nsp,class,order
0,NC_045294.1,Acorus tatarinowii,123564,genomic DNA,153296,Acorus tatarinowii,Acorus tatarinowii,NaN,False,77188885-1,...,Acorus calamus var. angustatus,Besser,VARIETY,Accepted,84028-1,Synonym,NaN,2,Magnoliopsida,Acorales
1,NC_053912.1,Aponogeton lakhonensis,217757,genomic DNA,154860,Aponogeton lakhonensis,Aponogeton lakhonensis,NaN,False,82954-1,...,Aponogeton lakhonensis,A.Camus,SPECIES,Accepted,NaN,NaN,NaN,62,Magnoliopsida,Alismatales

In [17]:
incomplete_pt = Org_df[(Org_df.Assembly.isin(['circular genome','circular genome with gaps'])==False) &
                   (Org_df.pt_recovered==True)]
print(incomplete_pt.shape[0],'samples',incomplete_pt.genus.nunique(),'genera')
incomplete_pt = incomplete_pt[incomplete_pt.Sum_len_pt<200000].set_index('Sample_Name')
print(incomplete_pt.shape[0],'samples',incomplete_pt.genus.nunique(),'genera')
### Random subset for test 
incomplete_pt = incomplete_pt.sample(n=100)
print(incomplete_pt.shape[0],'samples',incomplete_pt.genus.nunique(),'genera')
incomplete_pt[:2]

3114 samples 2623 genera
3114 samples 2623 genera
100 samples 100 genera

,idPaftol,idSequencing,Project,order,family,genus,species,Taxonomical_Notes,SumContigLength,sci_name,...,Redo_FastPlast,error_pt,error_nr,SeqID,DataSource,ENASampleNum,ENAExpNumber,ENARunNumber,NCBI_TaxID,NCBI_sciname
Sample_Name,,,,,,,,,,,,,,,,,,,,,
PAFTOL_007905,4838,7905,Celastraceae,Celastrales,Celastraceae,Euonymus,australianus,Euonymus-Celastrus-Haydenoxylon clade,201111.0,Euonymus australianus,...,False,NaN,NaN,Pis_007905,PAFTOL,ERS8702347,ERX7189840,ERR7619260,1089391.0,Euonymus australianus
PAFTOL_014479,8655,14479,Asteraceae,Asterales,Asteraceae,Olgaea,leucophylla,NaN,182634.0,Olgaea leucophylla,...,False,NaN,NaN,Pis_014479,PAFTOL,ERS8704497,ERX7191722,ERR7621142,591993.0,Olgaea leucophylla

In [21]:
references[references.order=='Sapindales']

,SeqID,Ini_Species,TaxID,mol_type,length,Ini_sci_name,sci_name_query,Similar_match,Duplicates,kew_id,...,sci_name,authors,rank,taxonomic_status,Ini_kew_id,Ini_taxonomic_status,Duplicate_type,Nsp,class,order
109,NC_048982.1,Canarium album,300208,genomic DNA,163347,Canarium album,Canarium album,NaN,True,127264-1,...,Canarium album,(Lour.) DC.,SPECIES,Accepted,NaN,NaN,Same_Taxon,122,Magnoliopsida,Sapindales
110,NC_024929.1,Citrus aurantiifolia,159033,genomic DNA,159893,Citrus aurantiifolia,Citrus Ã— aurantiifolia,True,False,59599-2,...,Citrus Ã— aurantiifolia,(Christm.) Swingle,SPECIES,Accepted,NaN,NaN,NaN,94,Magnoliopsida,Sapindales

In [22]:
order_dc = {'Gunnerales':'Dilleniales','Picramniales':'Sapindales'}

In [23]:
commands = []
for Sample_Name, row in incomplete_pt.iterrows():
    print(Sample_Name,row.order,row.family)
    ### Identify best reference
    # check if reference in same family
    best_ref = references[references.family==row.family]
    if best_ref.shape[0]<1:
        # otherwise order
        best_ref = references[references.order==row.order]
        if best_ref.shape[0]<1:
            #Otherwise use closest order
            best_ref = references[references.order==order_dc[row.order]]
    print('\t Ref',best_ref.shape, end = ': ')
    best_ref = best_ref.iloc[0]
    print(best_ref.SeqID,best_ref.order,best_ref.family)
    incomplete_pt.loc[Sample_Name,'Ref-SeqID'] = best_ref.SeqID
    incomplete_pt.loc[Sample_Name,'Ref-order'] = best_ref.order
    incomplete_pt.loc[Sample_Name,'Ref-family'] = best_ref.family
    
    ### launch blastn
    # program_path = 'C:/Program Files/NCBI/blast-BLAST_VERSION+/bin/blastn.exe'
    program_path = 'blastn'
    ref_path = 'References/NCBI_plastid_ref/' + best_ref['SeqID'] + '.fasta'
    contigs_path = '../Organelles/' + DataSource + '/fasta_pt/' + Sample_Name + '_pt.fasta'
    out_path = 'ENA_submissions/' + DataSource + '/out_blast/'+ Sample_Name + '.blast'
    command = program_path + ' -query ' + contigs_path + ' -subject ' + ref_path + \
                ' -outfmt "6 qseqid sseqid pident length slen qlen mismatch gapopen qstart qend sstart send evalue bitscore"' + \
                ' -out ' + out_path
    commands.append(command)
    os.system(command)
    
    ### read blast output
    blast_output = pd.read_table(out_path, sep='\t',header=None)
    blast_output.columns = ['qseqid','sseqid','pident','length','slen','qlen','mismatch','gapopen','qstart','qend','sstart','send','evalue','bitscore']
#     print('\t',blast_output.shape[0],'matched for', blast_output.qseqid.nunique(),'qseqid',end='; ')
    incomplete_pt.loc[Sample_Name,'Blast-N_qseqid_match'] = blast_output.qseqid.nunique()
    # Keep best match (by bitscore) per queried contig
    blast_output = blast_output.sort_values('bitscore',ascending=False).groupby('qseqid').head(1)
    blast_output['oriented_sstart'] = blast_output[['sstart','send']].min(axis=1); blast_output['oriented_ssend'] = blast_output[['sstart','send']].max(axis=1)
    blast_output['Need_RevComp'] = blast_output.sstart > blast_output.oriented_sstart
    blast_output = blast_output.sort_values('oriented_sstart').set_index('qseqid')
#     print('Contigs to reverse complement:',blast_output.Need_RevComp.value_counts().to_dict())
    
    
    ### Load contigs and write concatenated fasta
    gapN = 100
    records = SeqIO.to_dict(SeqIO.parse(contigs_path, "fasta"))
    print('\t',blast_output.shape[0],'/',len(records),'contigs mapped to reference')
    concat_seq = ''
    for qseqid, blast_row in blast_output.iterrows():
        if blast_row.Need_RevComp==True:
            concat_seq += records[qseqid].seq.reverse_complement()
        else:
            concat_seq += records[qseqid].seq 
        concat_seq += Seq(gapN * 'N')
    concat_seq = concat_seq[:-gapN] # Remove trailing Ns
    print('\t sum len concat:',blast_output.qlen.sum(),'/',int(row.Sum_len_pt),round(blast_output.qlen.sum()/int(row.Sum_len_pt)*100,1),'%')
    incomplete_pt.loc[Sample_Name,'Concat-len'] = blast_output.qlen.sum()
    incomplete_pt.loc[Sample_Name,'Concat-%_mapped'] = round(blast_output.qlen.sum()/int(row.Sum_len_pt)*100,1)
    incomplete_pt.loc[Sample_Name,'Concat-len_with_Ns'] = len(concat_seq)
    Concat_record = SeqRecord(
        concat_seq,
        id=row.SeqID + '_concat_pt',
        name=Sample_Name + '_concat_pt',
        description=''
    )
    SeqIO.write(Concat_record,'ENA_submissions/' + DataSource + '/fasta/' + row.SeqID + '-concat.fasta','fasta')

PAFTOL_007905 Celastrales Celastraceae
	 Ref (1, 24): NC_045280.1 Celastrales Celastraceae
	 30 / 31 contigs mapped to reference
	 sum len concat: 24986 / 25415 98.3 %
PAFTOL_014479 Asterales Asteraceae
	 Ref (1, 24): NC_044728.1 Asterales Asteraceae
	 30 / 30 contigs mapped to reference
	 sum len concat: 36976 / 36976 100.0 %
PAFTOL_006622 Fabales Fabaceae
	 Ref (1, 24): NC_025745.1 Fabales Fabaceae
	 9 / 10 contigs mapped to reference
	 sum len concat: 157832 / 158427 99.6 %
PAFTOL_010719 Sapindales Meliaceae
	 Ref (2, 24): NC_048982.1 Sapindales Burseraceae
	 26 / 26 contigs mapped to reference
	 sum len concat: 54070 / 54070 100.0 %
PAFTOL_012011 Ericales Sapotaceae
	 Ref (2, 24): NC_041127.1 Ericales Styracaceae
	 8 / 8 contigs mapped to reference
	 sum len concat: 127068 / 127068 100.0 %
PAFTOL_004680 Asparagales Asphodelaceae
	 Ref (2, 24): NC_053784.1 Asparagales Asparagaceae
	 47 / 47 contigs mapped to reference
	 sum len concat: 58789 / 58789 100.0 %
PAFTOL_018841 Rosales Rosaceae
	 Ref (2, 24): NC_039731.1 Rosales Cannabaceae
	 44 / 45 contigs mapped to reference
	 sum len concat: 54559 / 55177 98.9 %
PAFTOL_015265 Rosales Rhamnaceae
	 Ref (1, 24): NC_037151.1 Rosales Rhamnaceae
	 43 / 43 contigs mapped to reference
	 sum len concat: 72056 / 72056 100.0 %
PAFTOL_000975 Vitales Vitaceae
	 Ref (1, 24): NC_039803.1 Vitales Vitaceae
	 18 / 19 contigs mapped to reference
	 sum len concat: 38085 / 38641 98.6 %
PAFTOL_004459 Rosales Moraceae
	 Ref (2, 24): NC_039731.1 Rosales Cannabaceae
	 47 / 47 contigs mapped to reference
	 sum len concat: 84859 / 84859 100.0 %
PAFTOL_006015 Solanales Solanaceae
	 Ref (1, 24): NC_039600.1 Solanales Solanaceae
	 41 / 41 contigs mapped to reference
	 sum len concat: 47057 / 47057 100.0 %
PAFTOL_023499 Brassicales Capparaceae
	 Ref (2, 24): NC_049578.1 Brassicales Brassicaceae
	 36 / 36 contigs mapped to reference
	 sum len concat: 36448 / 36448 100.0 %
PAFTOL_011083 Dioscoreales Nartheciaceae
	 Ref (2, 24): NC_036660.1 Dioscoreales Burmanniaceae
	 39 / 47 contigs mapped to reference
	 sum len concat: 53318 / 56956 93.6 %
PAFTOL_012079 Ericales Sapotaceae
	 Ref (2, 24): NC_041127.1 Ericales Styracaceae
	 3 / 3 contigs mapped to reference
	 sum len concat: 158668 / 158668 100.0 %
PAFTOL_000972 Arecales Dasypogonaceae
	 Ref (1, 24): NC_029970.1 Arecales Dasypogonaceae
	 32 / 32 contigs mapped to reference
	 sum len concat: 104273 / 104273 100.0 %
PAFTOL_007253 Fabales Fabaceae
	 Ref (1, 24): NC_025745.1 Fabales Fabaceae
	 8 / 8 contigs mapped to reference
	 sum len concat: 112384 / 112384 100.0 %
PAFTOL_003041 Sapindales Sapindaceae
	 Ref (2, 24): NC_048982.1 Sapindales Burseraceae
	 12 / 12 contigs mapped to reference
	 sum len concat: 135290 / 135290 100.0 %
PAFTOL_004743 Sapindales Sapindaceae
	 Ref (2, 24): NC_048982.1 Sapindales Burseraceae
	 2 / 2 contigs mapped to reference
	 sum len concat: 159089 / 159089 100.0 %
PAFTOL_015149 Asterales Campanulaceae
	 Ref (2, 24): NC_044728.1 Asterales Asteraceae
	 43 / 45 contigs mapped to reference
	 sum len concat: 86474 / 87511 98.8 %
PAFTOL_015615 Ericales Ericaceae
	 Ref (2, 24): NC_041127.1 Ericales Styracaceae
	 12 / 16 contigs mapped to reference
	 sum len concat: 132079 / 132948 99.3 %
PAFTOL_004371 Rosales Moraceae
	 Ref (2, 24): NC_039731.1 Rosales Cannabaceae
	 37 / 37 contigs mapped to reference
	 sum len concat: 91047 / 91047 100.0 %
PAFTOL_007973 Celastrales Celastraceae
	 Ref (1, 24): NC_045280.1 Celastrales Celastraceae
	 32 / 32 contigs mapped to reference
	 sum len concat: 29297 / 29297 100.0 %
PAFTOL_004477 Rosales Moraceae
	 Ref (2, 24): NC_039731.1 Rosales Cannabaceae
	 45 / 45 contigs mapped to reference
	 sum len concat: 40552 / 40552 100.0 %
PAFTOL_029857 Lamiales Orobanchaceae
	 Ref (2, 24): NC_053620.1 Lamiales Lamiaceae
	 29 / 29 contigs mapped to reference
	 sum len concat: 29062 / 29062 100.0 %
PAFTOL_004257 Malpighiales Euphorbiaceae
	 Ref (2, 24): NC_030601.1 Malpighiales Erythroxylaceae
	 42 / 44 contigs mapped to reference
	 sum len concat: 57598 / 59338 97.1 %
PAFTOL_021529 Gentianales Rubiaceae
	 Ref (2, 24): NC_054359.1 Gentianales Gentianaceae
	 38 / 45 contigs mapped to reference
	 sum len concat: 36659 / 39081 93.8 %
PAFTOL_006111 Arecales Arecaceae
	 Ref (1, 24): NC_045081.1 Arecales Arecaceae
	 17 / 17 contigs mapped to reference
	 sum len concat: 127450 / 127450 100.0 %
PAFTOL_010453 Sapindales Anacardiaceae
	 Ref (2, 24): NC_048982.1 Sapindales Burseraceae
	 33 / 33 contigs mapped to reference
	 sum len concat: 36015 / 36015 100.0 %
PAFTOL_019329 Brassicales Cleomaceae
	 Ref (2, 24): NC_049578.1 Brassicales Brassicaceae
	 53 / 53 contigs mapped to reference
	 sum len concat: 71014 / 71014 100.0 %
PAFTOL_019293 Asterales Asteraceae
	 Ref (1, 24): NC_044728.1 Asterales Asteraceae
	 40 / 40 contigs mapped to reference
	 sum len concat: 107635 / 107635 100.0 %
PAFTOL_016305 Saxifragales Hamamelidaceae
	 Ref (2, 24): NC_037885.1 Saxifragales Haloragaceae
	 30 / 31 contigs mapped to reference
	 sum len concat: 24802 / 25914 95.7 %
PAFTOL_002628 Fabales Fabaceae
	 Ref (1, 24): NC_025745.1 Fabales Fabaceae
	 5 / 5 contigs mapped to reference
	 sum len concat: 124883 / 124883 100.0 %
PAFTOL_011889 Sapindales Rutaceae
	 Ref (1, 24): NC_024929.1 Sapindales Rutaceae
	 35 / 35 contigs mapped to reference
	 sum len concat: 49864 / 49864 100.0 %
PAFTOL_012985 Malpighiales Peraceae
	 Ref (2, 24): NC_030601.1 Malpighiales Erythroxylaceae
	 6 / 6 contigs mapped to reference
	 sum len concat: 163713 / 163713 100.0 %
PAFTOL_023435 Brassicales Caricaceae
	 Ref (1, 24): NC_010323.1 Brassicales Caricaceae
	 56 / 56 contigs mapped to reference
	 sum len concat: 68901 / 68901 100.0 %
PAFTOL_014813 Asterales Asteraceae
	 Ref (1, 24): NC_044728.1 Asterales Asteraceae
	 30 / 30 contigs mapped to reference
	 sum len concat: 37113 / 37113 100.0 %
PAFTOL_004390 Rosales Urticaceae
	 Ref (2, 24): NC_039731.1 Rosales Cannabaceae
	 57 / 57 contigs mapped to reference
	 sum len concat: 64543 / 64543 100.0 %
PAFTOL_008709 Poales Poaceae
	 Ref (1, 24): NC_035050.1 Poales Poaceae
	 1 / 1 contigs mapped to reference
	 sum len concat: 140960 / 140960 100.0 %
PAFTOL_010063 Commelinales Haemodoraceae
	 Ref (1, 24): NC_040160.1 Commelinales Haemodoraceae
	 59 / 59 contigs mapped to reference
	 sum len concat: 49309 / 49309 100.0 %
PAFTOL_006252 Myrtales Melastomataceae
	 Ref (2, 24): NC_042889.1 Myrtales Lythraceae
	 45 / 46 contigs mapped to reference
	 sum len concat: 41978 / 42554 98.6 %
PAFTOL_011879 Sapindales Rutaceae
	 Ref (1, 24): NC_024929.1 Sapindales Rutaceae
	 35 / 35 contigs mapped to reference
	 sum len concat: 104578 / 104578 100.0 %
PAFTOL_006957 Solanales Solanaceae
	 Ref (1, 24): NC_039600.1 Solanales Solanaceae
	 8 / 8 contigs mapped to reference
	 sum len concat: 23266 / 23266 100.0 %
PAFTOL_004696 Sapindales Sapindaceae
	 Ref (2, 24): NC_048982.1 Sapindales Burseraceae
	 17 / 18 contigs mapped to reference
	 sum len concat: 130890 / 131888 99.2 %
PAFTOL_014801 Asterales Asteraceae
	 Ref (1, 24): NC_044728.1 Asterales Asteraceae
	 19 / 20 contigs mapped to reference
	 sum len concat: 35029 / 35703 98.1 %
PAFTOL_015539 Ericales Ericaceae
	 Ref (2, 24): NC_041127.1 Ericales Styracaceae
	 10 / 10 contigs mapped to reference
	 sum len concat: 116994 / 116994 100.0 %
PAFTOL_008650 Asparagales Asparagaceae
	 Ref (1, 24): NC_053784.1 Asparagales Asparagaceae
	 26 / 26 contigs mapped to reference
	 sum len concat: 40428 / 40428 100.0 %
PAFTOL_007942 Celastrales Celastraceae
	 Ref (1, 24): NC_045280.1 Celastrales Celastraceae
	 8 / 8 contigs mapped to reference
	 sum len concat: 35390 / 35390 100.0 %
PAFTOL_005730 Asterales Asteraceae
	 Ref (1, 24): NC_044728.1 Asterales Asteraceae
	 51 / 51 contigs mapped to reference
	 sum len concat: 50075 / 50075 100.0 %
PAFTOL_008711 Poales Poaceae
	 Ref (1, 24): NC_035050.1 Poales Poaceae
	 28 / 28 contigs mapped to reference
	 sum len concat: 38258 / 38258 100.0 %
PAFTOL_005727 Asterales Asteraceae
	 Ref (1, 24): NC_044728.1 Asterales Asteraceae
	 14 / 14 contigs mapped to reference
	 sum len concat: 124290 / 124290 100.0 %
PAFTOL_006960 Solanales Solanaceae
	 Ref (1, 24): NC_039600.1 Solanales Solanaceae
	 23 / 23 contigs mapped to reference
	 sum len concat: 50411 / 50411 100.0 %
PAFTOL_014513 Asterales Asteraceae
	 Ref (1, 24): NC_044728.1 Asterales Asteraceae
	 36 / 37 contigs mapped to reference
	 sum len concat: 39159 / 40083 97.7 %
PAFTOL_005378 Brassicales Resedaceae
	 Ref (2, 24): NC_049578.1 Brassicales Brassicaceae
	 6 / 6 contigs mapped to reference
	 sum len concat: 124275 / 124275 100.0 %
PAFTOL_006135 Arecales Arecaceae
	 Ref (1, 24): NC_045081.1 Arecales Arecaceae
	 47 / 47 contigs mapped to reference
	 sum len concat: 69980 / 69980 100.0 %
PAFTOL_002655 Asparagales Iridaceae
	 Ref (2, 24): NC_053784.1 Asparagales Asparagaceae
	 23 / 24 contigs mapped to reference
	 sum len concat: 53351 / 54249 98.3 %
PAFTOL_019233 Asterales Asteraceae
	 Ref (1, 24): NC_044728.1 Asterales Asteraceae
	 10 / 10 contigs mapped to reference
	 sum len concat: 124663 / 124663 100.0 %
PAFTOL_015763 Ericales Lecythidaceae
	 Ref (2, 24): NC_041127.1 Ericales Styracaceae
	 3 / 3 contigs mapped to reference
	 sum len concat: 158435 / 158435 100.0 %
PAFTOL_007313 Alismatales Araceae
	 Ref (1, 24): NC_035499.1 Alismatales Araceae
	 37 / 37 contigs mapped to reference
	 sum len concat: 112479 / 112479 100.0 %
PAFTOL_001072 Asparagales Orchidaceae
	 Ref (1, 24): NC_045400.1 Asparagales Orchidaceae
	 18 / 18 contigs mapped to reference
	 sum len concat: 53718 / 53718 100.0 %
PAFTOL_006292 Myrtales Melastomataceae
	 Ref (2, 24): NC_042889.1 Myrtales Lythraceae
	 18 / 18 contigs mapped to reference
	 sum len concat: 122560 / 122560 100.0 %
PAFTOL_015271 Rosales Rosaceae
	 Ref (2, 24): NC_039731.1 Rosales Cannabaceae
	 40 / 42 contigs mapped to reference
	 sum len concat: 59937 / 60773 98.6 %
PAFTOL_006145 Arecales Arecaceae
	 Ref (1, 24): NC_045081.1 Arecales Arecaceae
	 35 / 35 contigs mapped to reference
	 sum len concat: 113906 / 113906 100.0 %
PAFTOL_010261 Apiales Apiaceae
	 Ref (1, 24): NC_054296.1 Apiales Apiaceae
	 8 / 8 contigs mapped to reference
	 sum len concat: 126997 / 126997 100.0 %
PAFTOL_015595 Ericales Ericaceae
	 Ref (2, 24): NC_041127.1 Ericales Styracaceae
	 13 / 13 contigs mapped to reference
	 sum len concat: 126130 / 126130 100.0 %
PAFTOL_005892 Gentianales Rubiaceae
	 Ref (2, 24): NC_054359.1 Gentianales Gentianaceae
	 45 / 52 contigs mapped to reference
	 sum len concat: 34693 / 37615 92.2 %
PAFTOL_006892 Caryophyllales Aizoaceae
	 Ref (2, 24): NC_046575.1 Caryophyllales Amaranthaceae
	 24 / 24 contigs mapped to reference
	 sum len concat: 130219 / 130219 100.0 %
PAFTOL_008832 Cucurbitales Tetramelaceae
	 Ref (2, 24): NC_046385.1 Cucurbitales Begoniaceae
	 27 / 27 contigs mapped to reference
	 sum len concat: 97135 / 97135 100.0 %
PAFTOL_026123 Asparagales Orchidaceae
	 Ref (1, 24): NC_045400.1 Asparagales Orchidaceae
	 45 / 45 contigs mapped to reference
	 sum len concat: 43327 / 43327 100.0 %
PAFTOL_010597 Sapindales Anacardiaceae
	 Ref (2, 24): NC_048982.1 Sapindales Burseraceae
	 2 / 2 contigs mapped to reference
	 sum len concat: 75794 / 75794 100.0 %
PAFTOL_006700 Alismatales Araceae
	 Ref (1, 24): NC_035499.1 Alismatales Araceae
	 63 / 63 contigs mapped to reference
	 sum len concat: 59971 / 59971 100.0 %
PAFTOL_008745 Cucurbitales Cucurbitaceae
	 Ref (1, 24): NC_036135.1 Cucurbitales Cucurbitaceae
	 7 / 7 contigs mapped to reference
	 sum len concat: 131278 / 131278 100.0 %
PAFTOL_007902 Celastrales Celastraceae
	 Ref (1, 24): NC_045280.1 Celastrales Celastraceae
	 39 / 41 contigs mapped to reference
	 sum len concat: 48697 / 49663 98.1 %
PAFTOL_011288 Apiales Apiaceae
	 Ref (1, 24): NC_054296.1 Apiales Apiaceae
	 31 / 31 contigs mapped to reference
	 sum len concat: 105929 / 105929 100.0 %
PAFTOL_016791 Magnoliales Myristicaceae
	 Ref (2, 24): NC_043867.1 Magnoliales Annonaceae
	 16 / 16 contigs mapped to reference
	 sum len concat: 38078 / 38078 100.0 %
PAFTOL_006376 Asparagales Amaryllidaceae
	 Ref (2, 24): NC_053784.1 Asparagales Asparagaceae
	 53 / 53 contigs mapped to reference
	 sum len concat: 68030 / 68030 100.0 %
PAFTOL_001069 Crossosomatales Crossosomataceae
	 Ref (1, 24): NC_052922.1 Crossosomatales Staphyleaceae
	 38 / 38 contigs mapped to reference
	 sum len concat: 65191 / 65191 100.0 %
PAFTOL_016651 Lamiales Lamiaceae
	 Ref (1, 24): NC_053620.1 Lamiales Lamiaceae
	 59 / 59 contigs mapped to reference
	 sum len concat: 84553 / 84553 100.0 %
PAFTOL_008344 Arecales Arecaceae
	 Ref (1, 24): NC_045081.1 Arecales Arecaceae
	 35 / 35 contigs mapped to reference
	 sum len concat: 35218 / 35218 100.0 %
PAFTOL_007444 Fabales Fabaceae
	 Ref (1, 24): NC_025745.1 Fabales Fabaceae
	 10 / 11 contigs mapped to reference
	 sum len concat: 128004 / 128298 99.8 %
PAFTOL_008504 Myrtales Melastomataceae
	 Ref (2, 24): NC_042889.1 Myrtales Lythraceae
	 41 / 43 contigs mapped to reference
	 sum len concat: 49264 / 50282 98.0 %
PAFTOL_010553 Sapindales Rutaceae
	 Ref (1, 24): NC_024929.1 Sapindales Rutaceae
	 50 / 50 contigs mapped to reference
	 sum len concat: 73839 / 73839 100.0 %
PAFTOL_004808 Dioscoreales Dioscoreaceae
	 Ref (1, 24): NC_034686.1 Dioscoreales Dioscoreaceae
	 26 / 26 contigs mapped to reference
	 sum len concat: 35133 / 35133 100.0 %
PAFTOL_015261 Rosales Rhamnaceae
	 Ref (1, 24): NC_037151.1 Rosales Rhamnaceae
	 33 / 33 contigs mapped to reference
	 sum len concat: 42171 / 42171 100.0 %
PAFTOL_005317 Oxalidales Connaraceae
	 Ref (2, 24): NC_042597.1 Oxalidales Cephalotaceae
	 10 / 10 contigs mapped to reference
	 sum len concat: 23592 / 23592 100.0 %
PAFTOL_005677 Asterales Asteraceae
	 Ref (1, 24): NC_044728.1 Asterales Asteraceae
	 44 / 44 contigs mapped to reference
	 sum len concat: 46691 / 46691 100.0 %
PAFTOL_026053 Asparagales Orchidaceae
	 Ref (1, 24): NC_045400.1 Asparagales Orchidaceae
	 29 / 29 contigs mapped to reference
	 sum len concat: 111759 / 111759 100.0 %
PAFTOL_029939 Lamiales Plantaginaceae
	 Ref (2, 24): NC_053620.1 Lamiales Lamiaceae
	 22 / 22 contigs mapped to reference
	 sum len concat: 66914 / 66914 100.0 %
PAFTOL_016303 Saxifragales Hamamelidaceae
	 Ref (2, 24): NC_037885.1 Saxifragales Haloragaceae
	 39 / 40 contigs mapped to reference
	 sum len concat: 43267 / 44505 97.2 %
PAFTOL_001347 Ericales Lecythidaceae
	 Ref (2, 24): NC_041127.1 Ericales Styracaceae
	 10 / 10 contigs mapped to reference
	 sum len concat: 130595 / 130595 100.0 %
PAFTOL_011485 Laurales Monimiaceae
	 Ref (2, 24): NC_037504.1 Laurales Calycanthaceae
	 41 / 41 contigs mapped to reference
	 sum len concat: 81832 / 81832 100.0 %
PAFTOL_010109 Lamiales Gesneriaceae
	 Ref (2, 24): NC_053620.1 Lamiales Lamiaceae
	 47 / 47 contigs mapped to reference
	 sum len concat: 88074 / 88074 100.0 %
PAFTOL_004103 Gentianales Apocynaceae
	 Ref (2, 24): NC_054359.1 Gentianales Gentianaceae
	 26 / 26 contigs mapped to reference
	 sum len concat: 120977 / 120977 100.0 %
PAFTOL_023513 Brassicales Tovariaceae
	 Ref (2, 24): NC_049578.1 Brassicales Brassicaceae
	 40 / 40 contigs mapped to reference
	 sum len concat: 121676 / 121676 100.0 %
PAFTOL_015563 Ericales Ericaceae
	 Ref (2, 24): NC_041127.1 Ericales Styracaceae
	 15 / 15 contigs mapped to reference
	 sum len concat: 132519 / 132519 100.0 %
PAFTOL_004832 Picramniales Picramniaceae
	 Ref (2, 24): NC_048982.1 Sapindales Burseraceae
	 40 / 43 contigs mapped to reference
	 sum len concat: 50682 / 52767 96.0 %
PAFTOL_006522 Fabales Surianaceae
	 Ref (2, 24): NC_025745.1 Fabales Fabaceae
	 23 / 24 contigs mapped to reference
	 sum len concat: 144683 / 145340 99.5 %
PAFTOL_011251 Apiales Apiaceae
	 Ref (1, 24): NC_054296.1 Apiales Apiaceae
	 46 / 46 contigs mapped to reference
	 sum len concat: 96206 / 96206 100.0 %
PAFTOL_016943 Asterales Asteraceae
	 Ref (1, 24): NC_044728.1 Asterales Asteraceae
	 43 / 43 contigs mapped to reference
	 sum len concat: 79161 / 79161 100.0 %
PAFTOL_006738 Alismatales Araceae
	 Ref (1, 24): NC_035499.1 Alismatales Araceae
	 27 / 27 contigs mapped to reference
	 sum len concat: 43154 / 43154 100.0 %
PAFTOL_013403 Santalales Loranthaceae
	 Ref (1, 24): NC_040862.1 Santalales Loranthaceae
	 15 / 15 contigs mapped to reference
	 sum len concat: 113140 / 113140 100.0 %

In [24]:
incomplete_pt.to_csv(sdir + DataSource + '_concatPT.csv')

### ENA submission
https://ena-docs.readthedocs.io/en/latest/submit/fileprep/assembly.html?highlight=chloroplast#

cd C:\Data\PAFTOL\cpDNA\ENA_submissions

In [47]:
paper_title = 'Building the largest, curated plastid genome dataset and phylogeny by leveraging nuclear-oriented sequence data'
paper_authors = 'KEVIN LEEMPOEL1, PAUL BAILEY1, ELAINE FRANCOSO1, BERTA GALLEGO1, De-Zhu Li2,3,4, Hong-Tao Li2,3, OLIVIER MAURIN1, SHYAMALI ROY1,' +  \
            'Jun-Bo Yang2,3, Ting-Shuang Yi2,3, ALEXANDRE R. ZUNTINI1, WOLF L. EISERHARDT1,5,' +  \
            'PAUL J. KERSEY1, ILIA J. LEITCH1, FELIX FOREST1 AND WILLIAM J. BAKER1'
paper_journal = 'Unpublished'
paper_id = 'NA'

In [48]:
submit_pt = pd.concat([pd.read_csv(sdir + DataSource + '_wholePT.csv'), pd.read_csv(sdir + DataSource + '_concatPT.csv')],ignore_index=True)
# submit_pt = pd.read_csv(sdir + DataSource + '_concatPT.csv')
print(submit_pt.shape[0])
submit_pt = submit_pt[(submit_pt.ENASampleNum.notnull()) & (submit_pt.ENARunNumber.notnull())]
print(submit_pt.shape[0])
submit_pt = submit_pt[submit_pt.NCBI_sciname.notnull()]
print(submit_pt.shape[0],submit_pt.Assembly.value_counts().to_dict())
submit_pt.head(2)

437
428
410 {'circular genome': 315, 'scaffold': 93, 'circular genome with gaps': 2}

<ipython-input-48-9115cba50240>:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  submit_pt = pd.concat([pd.read_csv(sdir + DataSource + '_wholePT.csv'), pd.read_csv(sdir + DataSource + '_concatPT.csv')],ignore_index=True)

,Assembly,Blast-N_qseqid_match,Completed_Assembly,Completed_Extending,Completed_Output,Completed_Reads,Completed_Slimming,Concat-%_mapped,Concat-len,Concat-len_with_Ns,...,idPaftol,idSequencing,log_nr,log_pt,maxK,nr_recovered,order,pt_recovered,sci_name,species
0,circular genome,NaN,True,True,True,True,True,NaN,NaN,NaN,...,2,961,True,True,105.0,True,Ranunculales,True,Circaeaster agrestis,agrestis
1,circular genome,NaN,True,True,True,True,True,NaN,NaN,NaN,...,11,12989,True,True,105.0,True,Malpighiales,True,Gynocardia odorata,odorata

In [57]:
submit_pt = submit_pt[submit_pt.ENASampleNum=='ERS10966407']

In [58]:
all_seq = pd.read_csv('cpTree_v7/AllSamples_Allgenes_All_SeqTable.csv')
print(all_seq.shape)
genes_82 = pd.read_table('cp_genes_82.txt',header=None).rename(columns={0:'gene'})
all_seq = all_seq[all_seq.gene.isin(genes_82.gene)]
print(all_seq.shape)
all_seq.head(2)

(1678470, 4)
(1172782, 4)

              seqid   len Sample_Name   gene
0  GAP_026547-rrn23  2812  GAP_026547  rrn23
1  GAP_026547-rrn16  1491  GAP_026547  rrn16

In [59]:
def list_genes(record, ls_types = ['gene','CDS','rRNA']):
    # list gene names
    feat_ls = []; idx = 0
    for feature in record.features:
        if feature.type in ls_types:
            feat_ls.append(feature.qualifiers['gene'][0])
        idx += 1
    return list(set(feat_ls))

In [92]:
# Rename and modify genbank files, convert to embl flat file
if not os.path.exists(sdir + '/Genbank_files/'):
    os.makedirs(sdir + '/Genbank_files/')
gb_files = [file for file in os.listdir(sdir + 'geseq/') if file.endswith('.gb')]
print(len(gb_files))
for idx, row in submit_pt.iterrows():
    idx_file = [i for i, x in enumerate([row.SeqID in file for file in gb_files]) if x]
    print(row.Sample_Name,gb_files[idx_file[0]],end=':')
    records = list(SeqIO.parse(sdir + 'geseq/' + gb_files[idx_file[0]], "genbank"))
    record = records[0]
    record_genes = list_genes(record); record_genes = [gene for gene in record_genes if gene in genes_82.gene.to_list()]
    blast_genes = all_seq[all_seq.Sample_Name==row.Sample_Name]
    print(len(records), len(records[0]), len(record_genes),'/',blast_genes.gene.nunique(),
         int(len(record_genes)/blast_genes.gene.nunique()*100),'%',blast_genes[blast_genes.gene.isin(record_genes)==False].gene.unique())
    try:
        if row.Assembly in ['circular genome','circular genome with gaps']:
            record.description = row.ENARunNumber + ' chloroplast, complete genome'
        elif row.Assembly in ['scaffold']:
            record.description = row.ENARunNumber + ' chloroplast, partial genome (concatenated contigs)'
        submit_pt.loc[idx,'ENA_SeqID'] = row.ENARunNumber + '_pt'
        record.id = submit_pt.loc[idx,'ENA_SeqID']
        record.name = submit_pt.loc[idx,'ENA_SeqID']
        record.version = submit_pt.loc[idx,'ENA_SeqID'] + '.1'
        record.annotations['source'] = row.ENASampleNum + ', ' + row.sci_name + ', isolate'
        record.annotations['accessions'] = row.ENASampleNum
        record.annotations['organism'] = row.NCBI_sciname
        record.annotations["data_file_division"]="PLN";
        record.annotations.pop('taxonomy')
        record.annotations['references'][0].title = paper_title    
        record.annotations['references'][0].authors = paper_authors    
        record.annotations['references'][0].journal = paper_journal      
        record.annotations['references'][0].pubmed_id = paper_id    
        record.features[0].qualifiers['organism'] = row.NCBI_sciname
        record.features[0].qualifiers['db_xref'] = ['taxon:' + str(int(row['NCBI_TaxID']))]
        SeqIO.write(record,sdir + 'Genbank_files/' + row.SeqID + '_pt.gb',format='genbank')
    except:
        print('issue with ',gb_files[idx_file[0]])

439
PAFTOL_029857 GeSeqJob-20220305-120228_Pis_029857_concat_pt_GenBank.gb:1 31862 20 / 15 133 % ['atpA']

In [93]:
def del_features(record, feat_del_ls = ['translation','info','annotator']):
    for feature in record.features:
        for feat_to_del in feat_del_ls:
            if feat_to_del in feature.qualifiers:
                del feature.qualifiers[feat_to_del]
    return record

def del_fragment(record, ls_types = ['gene','CDS','rRNA']):
    # list gene names
    ls_feat = []
    for feature in record.features:
        if feature.type in ls_types:
            ls_feat.append(feature.qualifiers['gene'][0])
    ls_feat = [ifeat for ifeat in ls_feat if 'fragment' not in ifeat]

    # remove fragment feature if full feature is present
    rm_count = 0
    for feature in record.features:
        if feature.type in ls_types:
            if 'fragment' in feature.qualifiers['gene'][0]:
                if feature.qualifiers['gene'][0].split('-')[0] in ls_feat:
                    rm_count += 1
                    record.features.remove(feature)
    print('removed',rm_count,'partial features')
    return record

def del_longfeat(record, ls_types = ['gene','CDS','rRNA'], len_thrs = 5000):
    for feature in record.features:
        if feature.type in ls_types:
            if len(feature)>len_thrs:
                print('removing ',feature.qualifiers['gene'],len(feature))
                record.features.remove(feature)
    return record

def add_gap_features(record, gapN = 100):
    # find gaps in record
    gaps_idx = [m.start() for m in re.finditer(gapN * 'N', str(record.seq))]
    print(len(gaps_idx),'gaps')
    if len(gaps_idx)>0:
        ## for each gap, add a sequence feature
        for gap_pos in gaps_idx:
            # find index of gap in features
            features_start = [feat.location.start for feat in record.features]
            gap_feature_idx = [i for i in range(len(features_start)) if features_start[i] > gap_pos]
            
            gap_feat = SeqFeature(FeatureLocation(gap_pos,gap_pos+gapN), strand=1, type='assembly_gap')
            gap_feat.qualifiers['gap_type']='within scaffold'; 
            gap_feat.qualifiers['estimated_length']='unknown'
            gap_feat.qualifiers['linkage_evidence']='unspecified'
            if len(gap_feature_idx)>0:
                gap_feature_idx = gap_feature_idx[0]
                record.features.insert(gap_feature_idx, gap_feat)
            elif len(gap_feature_idx)==0: #if position is further than any other feature, append at the end of feature list
                print("END")
                record.features.append(gap_feat)
    return record

def gzip_file(in_file):
    import gzip
    import shutil
    f_gz = in_file + '.gz'
    with open(in_file, 'rb') as f_in:
        with gzip.open(f_gz, 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)

In [95]:
# ENA files
if not os.path.exists(sdir + '/EMBL_files/'):
    os.makedirs(sdir + '/EMBL_files/')
commands = []
for idx, row in submit_pt.iterrows():
    ### Convert .gb to EMBL flat files
    file_gb = sdir + 'Genbank_files/' + row.SeqID + '_pt.gb'
    print(row.SeqID,row.ENA_SeqID,end=' > ')
#     try:
    record = list(SeqIO.parse(file_gb, "genbank"))[0]
    print(len(record))
    record_clean = del_features(record = record)
    record_clean = del_fragment(record = record_clean); record_clean = del_fragment(record = record_clean);
    record_clean = del_longfeat(record = record_clean,len_thrs=8000);
    record_clean = add_gap_features(record = record_clean)
    file_embl = sdir + '/EMBL_files/' + row.ENA_SeqID + '.embl'
    SeqIO.write(record_clean, file_gb, "genbank")
    SeqIO.write(record_clean, file_embl, "embl")
    gzip_file(file_embl)

    ### Chromosome list file
    # https://ena-docs.readthedocs.io/en/latest/submit/fileprep/assembly.html?highlight=chloroplast#chromosome-list-file
    if row.Assembly in ['circular genome','circular genome with gaps']:
        list_file=row.ENA_SeqID + '	PT	Circular-Chromosome	Chloroplast'       
    elif row.Assembly in ['scaffold']:
        list_file=row.ENA_SeqID + '	PT	Linear-Chromosome	Chloroplast'
    with open(file_embl.replace('.embl','_CHR.txt'), 'wb') as f:
        f.write(list_file.encode("ascii"))
    gzip_file(file_embl.replace('.embl','_CHR.txt'))

    ### Manifest file 
    # https://ena-docs.readthedocs.io/en/latest/submit/assembly/genome.html 
    manifest_file = file_embl.replace('.embl','_manifest.txt')
    if row.Assembly in ['circular genome','circular genome with gaps']:
        tmp_description=' chloroplast, complete genome' 
    elif row.Assembly in ['scaffold']:
        tmp_description=' chloroplast, partial genome (concatenated contigs)' 
    manifest={
        'STUDY':ENA_project_number,
        'SAMPLE':row.ENASampleNum,
        'ASSEMBLYNAME':row.ENA_SeqID,
        'ASSEMBLY_TYPE':'clone or isolate',
        'COVERAGE':row.Coverage_base,
        'PROGRAM':'GetOrganelle v1.7.5 +  GeSeq 2.03',
        'PLATFORM':'ILLUMINA',
        'MOLECULETYPE':'genomic DNA',
        'FLATFILE': row.ENA_SeqID + '.embl.gz',
        'CHROMOSOME_LIST': row.ENA_SeqID + '_CHR.txt.gz',
        'DESCRIPTION': row.NCBI_sciname + tmp_description
    }
    manifest = pd.DataFrame.from_dict(manifest,orient='index')
    manifest.to_csv(manifest_file,header=None,sep='\t')

    # Submission command
    commands.append('java -jar C:/Data/PAFTOL/ENA_submissions/webin-cli-4.3.0.jar ' + 
          '-username Webin-52995 -passwordFile C:/Data/PAFTOL/ENA_submissions/ena_pwd.txt -context genome -manifest ' +
          row.ENA_SeqID + '_manifest.txt' + ' -validate') 
#     except:
#         print('issue',row.SeqID)
pd.DataFrame(commands).to_csv(sdir + '/ENA_Submission_Commands_' + DataSource + '.txt',index=False,header=None)

Pis_029857 ERR9230283_pt > 31862
removed 1 partial features
removed 1 partial features
28 gaps

In [77]:
file_gb

'ENA_submissions/PAFTOL/Genbank_files/Pis_029857_pt.gb'

In [72]:
record_clean.features

[SeqFeature(FeatureLocation(ExactPosition(0), ExactPosition(31862), strand=1), type='source'),
 SeqFeature(CompoundLocation([FeatureLocation(ExactPosition(31310), ExactPosition(31862), strand=1), FeatureLocation(ExactPosition(0), ExactPosition(6), strand=1)], 'join'), type='gene', location_operator='join'),
 SeqFeature(CompoundLocation([FeatureLocation(ExactPosition(31310), ExactPosition(31862), strand=1), FeatureLocation(ExactPosition(0), ExactPosition(6), strand=1)], 'join'), type='CDS', location_operator='join'),
 SeqFeature(FeatureLocation(ExactPosition(615), ExactPosition(1334), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(615), ExactPosition(1334), strand=-1), type='intron'),
 SeqFeature(FeatureLocation(ExactPosition(1727), ExactPosition(1973), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(1727), ExactPosition(1973), strand=-1), type='CDS'),
 SeqFeature(FeatureLocation(ExactPosition(2017), ExactPosition(2359), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(2017), ExactPosition(2359), strand=-1), type='CDS'),
 SeqFeature(FeatureLocation(ExactPosition(2776), ExactPosition(4606), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(2776), ExactPosition(4606), strand=-1), type='CDS'),
 SeqFeature(FeatureLocation(ExactPosition(5931), ExactPosition(6624), strand=1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(5931), ExactPosition(6624), strand=1), type='CDS'),
 SeqFeature(FeatureLocation(ExactPosition(6868), ExactPosition(6942), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(6868), ExactPosition(6942), strand=-1), type='tRNA'),
 SeqFeature(FeatureLocation(ExactPosition(7099), ExactPosition(7402), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(7099), ExactPosition(7402), strand=-1), type='CDS'),
 SeqFeature(FeatureLocation(ExactPosition(8038), ExactPosition(9367), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(8038), ExactPosition(9367), strand=-1), type='CDS'),
 SeqFeature(FeatureLocation(ExactPosition(9774), ExactPosition(11007), strand=1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(9774), ExactPosition(11007), strand=1), type='CDS'),
 SeqFeature(FeatureLocation(ExactPosition(11727), ExactPosition(12636), strand=1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(11727), ExactPosition(12636), strand=1), type='CDS'),
 SeqFeature(FeatureLocation(ExactPosition(12392), ExactPosition(13305), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(13234), ExactPosition(13305), strand=-1), type='CDS'),
 SeqFeature(FeatureLocation(ExactPosition(13234), ExactPosition(13305), strand=-1), type='exon'),
 SeqFeature(FeatureLocation(ExactPosition(12392), ExactPosition(13234), strand=-1), type='intron'),
 SeqFeature(FeatureLocation(ExactPosition(12653), ExactPosition(12788), strand=1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(12653), ExactPosition(12788), strand=1), type='CDS'),
 SeqFeature(FeatureLocation(ExactPosition(14206), ExactPosition(14770), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(14206), ExactPosition(14770), strand=-1), type='CDS'),
 SeqFeature(FeatureLocation(ExactPosition(15030), ExactPosition(16133), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(15464), ExactPosition(16133), strand=-1), type='intron'),
 SeqFeature(FeatureLocation(ExactPosition(15464), ExactPosition(16133), strand=-1), type='exon'),
 SeqFeature(FeatureLocation(ExactPosition(15030), ExactPosition(15464), strand=-1), type='intron'),
 SeqFeature(FeatureLocation(ExactPosition(16282), ExactPosition(16405), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(16282), ExactPosition(16405), strand=-1), type='CDS'),
 SeqFeature(FeatureLocation(ExactPosition(17905), ExactPosition(17979), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(17905), ExactPosition(17979), strand=-1), type='tRNA'),
 SeqFeature(FeatureLocation(ExactPosition(18221), ExactPosition(18342), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(18221), ExactPosition(18342), strand=-1), type='rRNA'),
 SeqFeature(FeatureLocation(ExactPosition(18593), ExactPosition(18696), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(18593), ExactPosition(18696), strand=-1), type='rRNA'),
 SeqFeature(FeatureLocation(ExactPosition(18794), ExactPosition(21605), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(18794), ExactPosition(21048), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(18794), ExactPosition(21048), strand=-1), type='rRNA'),
 SeqFeature(FeatureLocation(ExactPosition(18993), ExactPosition(21605), strand=-1), type='rRNA'),
 SeqFeature(FeatureLocation(ExactPosition(18993), ExactPosition(21605), strand=-1), type='exon'),
 SeqFeature(FeatureLocation(ExactPosition(18794), ExactPosition(18993), strand=-1), type='intron'),
 SeqFeature(FeatureLocation(ExactPosition(21782), ExactPosition(22668), strand=-1), type='gene'),
 SeqFeature(CompoundLocation([FeatureLocation(ExactPosition(22630), ExactPosition(22668), strand=-1), FeatureLocation(ExactPosition(21782), ExactPosition(21817), strand=-1)], 'join'), type='tRNA', location_operator='join'),
 SeqFeature(FeatureLocation(ExactPosition(22630), ExactPosition(22668), strand=-1), type='exon'),
 SeqFeature(FeatureLocation(ExactPosition(21817), ExactPosition(22630), strand=-1), type='intron'),
 SeqFeature(FeatureLocation(ExactPosition(21782), ExactPosition(21817), strand=-1), type='exon'),
 SeqFeature(FeatureLocation(ExactPosition(22732), ExactPosition(23752), strand=-1), type='gene'),
 SeqFeature(CompoundLocation([FeatureLocation(ExactPosition(23715), ExactPosition(23752), strand=-1), FeatureLocation(ExactPosition(22732), ExactPosition(22767), strand=-1)], 'join'), type='tRNA', location_operator='join'),
 SeqFeature(FeatureLocation(ExactPosition(23715), ExactPosition(23752), strand=-1), type='exon'),
 SeqFeature(FeatureLocation(ExactPosition(22767), ExactPosition(23715), strand=-1), type='intron'),
 SeqFeature(FeatureLocation(ExactPosition(22732), ExactPosition(22767), strand=-1), type='exon'),
 SeqFeature(FeatureLocation(ExactPosition(24050), ExactPosition(25541), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(24050), ExactPosition(25541), strand=-1), type='rRNA'),
 SeqFeature(FeatureLocation(ExactPosition(25768), ExactPosition(25840), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(25768), ExactPosition(25840), strand=-1), type='tRNA'),
 SeqFeature(FeatureLocation(ExactPosition(27030), ExactPosition(27824), strand=1), type='gene'),
 SeqFeature(CompoundLocation([FeatureLocation(ExactPosition(27030), ExactPosition(27262), strand=1), FeatureLocation(ExactPosition(27798), ExactPosition(27824), strand=1)], 'join'), type='CDS', location_operator='join'),
 SeqFeature(FeatureLocation(ExactPosition(27030), ExactPosition(27262), strand=1), type='exon'),
 SeqFeature(FeatureLocation(ExactPosition(27262), ExactPosition(27798), strand=1), type='intron'),
 SeqFeature(FeatureLocation(ExactPosition(27798), ExactPosition(27824), strand=1), type='exon'),
 SeqFeature(FeatureLocation(ExactPosition(28399), ExactPosition(29090), strand=1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(28399), ExactPosition(29090), strand=1), type='intron'),
 SeqFeature(FeatureLocation(ExactPosition(28902), ExactPosition(28983), strand=1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(28902), ExactPosition(28983), strand=1), type='tRNA'),
 SeqFeature(FeatureLocation(ExactPosition(29671), ExactPosition(30763), strand=-1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(29671), ExactPosition(30763), strand=-1), type='CDS'),
 SeqFeature(FeatureLocation(ExactPosition(31010), ExactPosition(31292), strand=1), type='gene'),
 SeqFeature(FeatureLocation(ExactPosition(31010), ExactPosition(31292), strand=1), type='CDS')]

In [54]:
pd.DataFrame(commands).to_csv(sdir + '/ENA_Submission_Commands_' + DataSource + '.txt',index=False,header=None)